#addUserForm, #addUserResult, #addBlogForm , #addBlogResult, #loginForm{
	display: none;
}

header{
	height:100px;
	position:fixed;
	background: #505050;
	width:100%;
}
.logo{
	float:left;
	line-height:20px;
	margin-left:5%;
	font-size:100%;
	font-weight:bold;
}
.menu{
	float:right;
	margin-right:10%;
}
.menu ul li{
	float:left;
	color:#505050;
}
.menu ul li a{
	float:left;
	color:white;
	text-decoration:none;
	margin-left:10px;
	margin-right:5px;
	margin-top:10px;
	font-size:xx-large;
}
footer{
	position:fixed;
	width:100%;
	height:60px;
	background:#505050;
	bottom:0;
	text-align:center;
}
.myfooter p{
	margin:0;
	padding:0;
	line-height:60px;
	color:#fff;
}

.addUser {
	align:center;
}